
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

.section-title {
  text-align: left;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 125px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(6% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
.text-primary{
  color: #4caf50;
}
.bg-secondary{
  background-color: #4caf50;
}
